# Ignore virtual environment
carla_env/

# Ignore Python bytecode files
__pycache__/

.env
canonicar_init_instructions.txt
carla_fast_access.txt
connTest.py
.vscode
env
CUDA.py

# preTrained_PPO_models/
logs_from_old_log_settings/

ros_bridge/src/data_collector_node/data_collector_node/VAE/images/raw_20250520/*
ros_bridge/src/vae/vae/model/*.pth
vae_backup/
